# Dependências
# Ignora a pasta que o NPM usa para guardar os pacotes
/node_modules

# Build
# Ignora a pasta de "build" (produção) que o Vite cria
/dist

# Logs
# Ignora arquivos de log
*.log
npm-debug.log*

# Arquivos de Ambiente (Vite)
# Ignora arquivos de variáveis locais (senhas, chaves de API)
.env.local
.env.*.local

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db